<header class="headerContainerFixed">
<nav>
<%= link_to  root_path do %>
<%= "Home"%>
<%end%>
<%= link_to "Search", searches_path %>
<%= link_to "Trends", analytic_trends_path %>
<% if current_user%>
<span id="logout">
<%= link_to "Logout", destroy_user_session_path,data: { turbo_method: :delete } %> 
</span>
<%end%>

</nav>
</header>